snippet " "double quotes"
	"$1"
endsnippet
snippet ' "single quotes"
	'$1'
endsnippet
snippet ( "()"
	($1)
endsnippet
snippet { "{}"
	{$1}
endsnippet

snippet [ "[]"
	[$1]
endsnippet


snippet initsnip"initialize snippet"
	snippet name$1 "description$2"
		$3
	endsnippet
endsnippet
snippet *l "*line"
	*****************************************
endsnippet
	
	
