snippet q "quotes"
"$1"
endsnippet

snippet csll "console.log"
console.log("$1");
endsnippet

snippet r "require"                
require("$1");
endsnippet

snippet rr "require react"
require("react");
endsnippet

snippet rm "require mongoose"
require("mongoose");                        
endsnippet


